#wrapper {
    height: 100%;
}

.vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
}

.vertical-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.auth-box {
    -moz-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40%;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
}

.auth-box:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: ' ';
    vertical-align: middle;
    height: 100%;
}

.auth-box .content {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 99%;
    vertical-align: middle;
}

.auth-box .inner_wrap {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    text-align: center;
}

.auth-box .inner_wrap:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    content: ' ';
    vertical-align: middle;
    height: 100%;
}

.auth-box .logo {
    margin-bottom: 30px;
}

.auth-box .form-auth-small .btn {
    margin-top: 20px;
}

.auth-box .form-auth-small .element-left {
    float: left;
}

.auth-box .form-auth-small .element-right {
    float: right;
}

.auth-box .form-auth-small .bottom {
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .auth-box.lockscreen {
        width: 35%;
    }
}

@media screen and (max-width: 1279px) {
    .auth-box {
        width: 90%;
    }
    .auth-box .left {
        top: 3.3em;
    }
}

@media screen and (max-width: 1023px) {
    .auth-box .left {
        width: 100%;
        position: inherit;
        padding: 30px;
    }
    .auth-box .right {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .auth-box {
        width: 70%;
    }
    .auth-box.lockscreen {
        width: 50%;
        padding: 40px 20px;
    }
}

@media screen and (max-width: 640px) {
    .auth-box {
        width: 90%;
    }
    .auth-box .content {
        width: 95%;
    }
    .auth-box.lockscreen {
        width: 90%;
    }
}

.popover {
    max-width: 100% !important;
    width: 500px !important;
}

.popover-row {
    margin-bottom: 5px;
}

.progress {
    margin-bottom: 3px;
}

.progress-popover {
    height: 13px;
}

.progress-header {
    margin-top: 10px;
}

.form-dialog {
    width: 600px !important;
}

/* Error 404 */
.nb-error {
    margin: 0 auto;
    text-align: center;
    max-width: 480px;
    padding: 150px 30px;
}

.nb-error .error-code {
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
}

.nb-error .error-desc {
    font-size: 12px;
    color: #647788;
}

.badge-notify{
    background: red;
    position: absolute;
    top: 13px;
    left: 20px;
}

.modal-lg {
    width: 1200px !important;
}